<div style="z-index: 9999;">

  <!-- <p-blockUI [blocked]="blockedDocument">
    <i class="pi pi-lock" style="font-size: 3rem; color: white;"></i>
    <p-progressSpinner styleClass="w-3rem h-3rem" strokeWidth="8" />
  </p-blockUI> -->

  <app-bloquear-tela [blockedDocument]="blockedDocument"></app-bloquear-tela>

  <div class="flex justify-center" >

    @for (item of options; track $index) {

    <div class="card-container">

      <a class="card" [style]="style(item)" (click)="click(item)">

        <div class="flex flex-column text-center">

          <div>
            <img title="{{item.titleDescription}}" src="{{item.img}}" width="{{width}}" />
          </div>


          @if(item.title){
          <div><span>{{item.title}}

            </span></div>
          }

          <div>
            @if (!item.loading) {
                @if (item.quantidade != null) {
                <p-badge [value]="item!.quantidade!" />
                }
            }@else {
              <p-progressSpinner styleClass="w-1rem h-1rem" strokeWidth="8" />
            }

          </div>
        </div>
      </a>
    </div>
    }
  </div>
  <!-- </p-panel> -->
</div>
