<div class="content-center text-center">
  <div class="content-center text-center">
    <button
      class="m-1 cursor-pointer"
      type="button"
      (click)="adicionarAlteracao()"
    >
      <i class="fas fa-plus"></i>Solicitar Hora Extra
    </button>
  </div>

  <div class="flex-col items-center content-center w-full table-nomes">
    <!-- Table -->
    <p-table
      [value]="solicitacoes"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="15"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr class="w-12">
          <th class="w-4">Nome</th>
          <th class="w-3">Departamento</th>
          <th class="w-1">Cód Motivo</th>
          <th class="w-3">Descrição</th>
          <th class="w-3">Solicitante</th>
          <th class="w-3">Horas</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-usuario>
        <tr class="w-12">
          <td class="w-4">{{ usuario.funcionarioNome }}</td>
          <td class="w-3">{{ usuario.departamentoDescricao }}</td>
          <td class="w-1">{{ usuario.motivoCodigo }}</td>
          <td class="w-3">{{ usuario.motivoDescricao }}</td>
          <td class="w-3">{{ usuario.usuarioNome }}</td>
          <td class="w-3">{{ minutoEmHoras(usuario.minutos) }}</td>
          <td style="text-align: center">
            <i
              class="fas fa-edit"
              style="color: orange"
              (click)="edit(usuario)"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="Solicitar Hora Extra"
  [modal]="true"
  [(visible)]="dialogVisible"
  class="max-w-xl text-center"
  [style]="{ width: '600px', height: '270px' }"
>
  <ng-template pTemplate="content">
    <form [formGroup]="form" class="flex flex-col w-full md:w-12">
      <div class="flex flex-col-12 gap-4 align-items-center mb-3">
        <!-- QUANTIDADE HORAS  -->
        <div class="flex flex-col w-3">
          <label for="funcionarioNome" class="w-full">Quantidade Hrs</label>
          <form [formGroup]="form" class="mt-1">
            <p-dropdown
              formControlName="horas"
              [options]="horas"
              optionLabel="label"
              placeholder="Horas"
            />
          </form>
        </div>

        <!-- DESCRIÇÃO MOTIVO -->
        <div class="flex flex-col w-9 items-center">
          <label for="motivoDescricao" class="flex flex-col w-full"
            >Motivo descrição</label
          >
          <p-dropdown
            formControlName="motivoDescricao"
            [options]="motivo"
            optionLabel="label"
            (onChange)="onMotivoSelecionado($event)"
            class="flex flex-col w-full mt-1"
          />
        </div>
      </div>

      <!-- ##################################################################################### -->

      <!-- Data inicio da hora extra -->
      <div class="flex flex-col-12 gap-4 align-items-center mb-3">
        <div class="flex flex-col w-3">
          <label for="dataHoraExtra" class="w-full">Data Início</label>
          <input
            id="dataHoraExtra"
            type="date"
            class="w-full mt-1 cursor-pointer"
            formControlName="dataHoraExtra"
          />
        </div>


        <!-- OBSERVAÇÃO -->
        <div class="flex flex-col w-9">
          <label for="motivoDescricao" class="w-full">Observação</label>
          <input
            pInputText
            id="observacao"
            class="w-full mt-1"
            type="text"
            formControlName="observacao"
            aria-describedby="Observação"
          />
        </div>
      </div>

      <!-- ##################################################################################### -->

      <div class="flex flex-col-12 gap-4 align-items-center mb-3">

        <!-- CÓDIGO FUNCIONÁRIO -->
        <div class="flex flex-col w-5">
          <label for="funcionarioCodigo" class="w-full">Cód. funcionário</label>
          <input
            pInputText
            id="funcionarioCodigo"
            class="w-full mt-1"
            type="number"
            formControlName="funcionarioCodigo"
            aria-describedby="Cód. Funcionário"
            (input)="buscaValorCampo($event)"
            (blur)="buscaFuncionario()"
          />
        </div>

        <!-- COD FUNCIONARIO / NOME FUNCIONARIO -->
        <div class="flex flex-row w-12">

          <!-- BUSCA FUNCIONARIO -->          
          <button
            type="button"
            value="Evento"
            class="flex flex-col items-center justify-center w-2 mt-3 mr-0 cursor-pointer"
            (click)="buscaNomeFuncionario()"
            pTooltip="Buscar funcionário"
            tooltipPosition="top"
          >
            <i class="fas fa-search"> </i>
          </button>

          <!-- NOME FUNCIONARIO -->
          <div class="flex flex-col w-11 ml-0">
            <label for="funcionarioNome" class="w-full">Nome funcionário</label>
            <input
              pInputText
              id="funcionarioNome"
              class="w-full mt-1"
              type="text"
              formControlName="funcionarioNome"
              aria-describedby="Nome Funcionário"
              readonly
            />
          </div>
        </div>
      </div>

      <!-- ##################################################################################### -->
    </form>
  </ng-template>

  <!-- Botões salvar, cancelar e salvar continuar -->
  <ng-template pTemplate="footer">
    <!-- Salvar e continuar -->
    <p-button
      title="Salvar e continuar"
      label="Salvar e continuar"
      pButton
      pRipple
      (click)="salvarContinuar()"
      pTooltip="Salvar e continuar"
      class="p-button-success"
      icon="pi pi-arrow-right"
      [loading]="saving"
      [disabled]="!form.valid"
    ></p-button>

    <!-- Salvar -->
    <p-button
      title="Salvar"
      label="Salvar"
      pButton
      pRipple
      (click)="salvar()"
      (onClick)="gravarContinuar = false"
      pTooltip="Salvar"
      class="p-button-success"
      icon="pi pi-save"
      [loading]="saving"
      [disabled]="!form.valid"
    ></p-button>

    <!-- Cancelar -->
    <p-button
      title="Fechar"
      label="Sair"
      pButton
      pRipple
      (click)="fecharDialog()"
      pTooltip="Sair"
      class="p-button-secondary"
      icon="pi pi-arrow-right"
    ></p-button>
  </ng-template>
</p-dialog>

<app-lov-funcionario-solicitante-he
  [(modalSolicita)]="lovSolicitacaoVisible"
  (selecionouEvento)="selecionouEventoHe($event)"
></app-lov-funcionario-solicitante-he>
