<div class="content-center text-center">
  <!-- botões do navbar-->
  <div class="flex items-center justify-center w-full m-2">
    <!-- Selecionar solicitações aprovadas -->
    <div class="flex flex-wrap">
      <div class="flex align-items-center mr-2">
        <p-radioButton
          name="status"
          value="A"
          [(ngModel)]="selectedStatus"
          inputId="aprovados"
        />
        <label for="aprovados" class="ml-1 cursor-pointer"> Aprovados </label>
      </div>
      <hr />
    </div>

    <!-- Selecionar solicitações aguardando aprovação-->
    <div class="flex flex-wrap">
      <div class="flex align-items-center mr-2 ml-2">
        <p-radioButton
          name="status"
          value="S"
          [(ngModel)]="selectedStatus"
          inputId="naoAprovado"
        />
        <label for="naoAprovado" class="ml-1 cursor-pointer">
          Aguardando aprovação
        </label>
      </div>
      <hr />
    </div>

    <!-- Selecionar solicitações Recusadas -->
    <div class="flex flex-wrap">
      <div class="flex align-items-center ml-2">
        <p-radioButton
          name="status"
          value="R"
          [(ngModel)]="selectedStatus"
          inputId="recusado"
        />
        <label for="recusado" class="ml-1 mr-3 cursor-pointer">
          Recusado
        </label>
      </div>
    </div>

    <form [formGroup]="form" class="flex flex-row">
      <!-- Selecionar solicitações com data inicio-->
      <div class="flex flex-col mr-2">
        <label for="dataInicio" class="w-full">Data Início</label>
        <input
          id="dataInicio"
          type="date"
          class="w-full mt-1 cursor-pointer ng-invalid ng-dirty"
          formControlName="dataInicio"
        />
      </div>

      <!-- Selecionar solicitações com data fim-->
      <div class="flex flex-col mr-2">
        <label for="dataFim" class="w-full">Data Final</label>
        <input
          id="dataFim"
          type="date"
          class="w-full mt-1 cursor-pointer"
          formControlName="dataFim"
        />
      </div>

      <!-- Botão buscar solicitações-->
      <div class="content-center text-center m-1">
        <button
          class="cursor-pointer h-10"
          type="button"
          (click)="buscarSolicitacoes()"
        >
          <i class="fas fa-search"></i> Buscar
        </button>
      </div>
    </form>

    <!-- Botão que solicita hora extra -->
    <div class="content-center text-center m-1">
      <button
        class="cursor-pointer h-10"
        type="button"
        (click)="adicionarAlteracao()"
      >
        <i class="fas fa-plus"></i> Solicitar Hora Extra
      </button>
    </div>
  </div>

  <div class="flex-col items-center content-center w-full table-nomes">
    <!-- Table -->
    <p-table
      [value]="solicitacoes"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="20"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr class="w-12">
          <th style="width: 20rem">
            Nome
            <p-columnFilter
              matchMode="contains"
              field="funcionarioNome"
              placeholder="Search"
            />
          </th>
          <!-- <th>Nome</th> -->
          <th>Departamento</th>
          <th>Descrição</th>
          <th>Solicitante</th>
          <th>Aprovado por</th>
          <th>Data</th>
          <th>Horas</th>
          <th>Observação</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-usuario let-rowIndex="rowIndex">
        <tr class="w-12">
          <td class="col-nome text-align: center">
            {{ usuario.funcionarioNome }}
          </td>
          <td class="col-departamento">{{ usuario.departamentoDescricao }}</td>
          <td class="col-descricao">{{ usuario.motivoDescricao }}</td>
          <td class="col-solicitante">{{ usuario.solicitadoPor }}</td>
          <td class="col-aprovador w-2">
            {{ aprovadores }}
            @if(visualizaBtnAprovador){
            <button
              class="cursor-pointer ml-12 mr-00"
              pTooltip="Consulte quem pode aprovar"
              (click)="visualizaAprovadores(rowIndex)"
            >
              ...
            </button>
            }
          </td>
          <td class="col-data">{{ usuario.dia | date : "dd/MM/yyyy" }}</td>
          <td class="col-horas">{{ minutoEmHoras(usuario.minutos) }}</td>
          <td class="col-observacao">{{ usuario.observacao }}</td>
          @if(visualizaEdit){
          <td style="text-align: center">
            <i
              class="fas fa-edit"
              style="color: orange"
              (click)="edit(usuario)"
            ></i>
          </td>
          }
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  header="Solicitar Hora Extra"
  [modal]="true"
  [(visible)]="dialogVisible"
  class="max-w-xl text-center"
  [style]="{ width: '600px', height: '270px' }"
>
  <ng-template pTemplate="content">
    <form [formGroup]="form" class="flex flex-col w-full md:w-12">
      <div class="flex flex-col-12 gap-4 align-items-center mb-3">
        <!-- QUANTIDADE HORAS  -->
        <div class="flex flex-col w-3">
          <label for="funcionarioNome" class="w-full">Quantidade Hrs</label>
          <p-dropdown
            formControlName="horas"
            [options]="horas"
            optionLabel="label"
            placeholder="Horas"
            class="flex flex-col w-full mt-1"
          />
          
        </div>

        <!-- DESCRIÇÃO MOTIVO -->
        <div class="flex flex-col w-9 items-center">
          <label for="motivoDescricao" class="flex flex-col w-full"
            >Motivo descrição</label
          >
          <p-dropdown
            formControlName="motivoDescricao"
            [options]="motivo"
            optionLabel="label" 
            (onChange)="onMotivoSelecionado($event)"
            placeholder="Escolha o motivo"
            class="flex flex-col w-full mt-1"
          />
          <!-- optionValue="value" -->
        </div>
      </div>

      <!-- ##################################################################################### -->

      <!-- Data inicio da hora extra -->
      <div class="flex flex-col-12 gap-4 align-items-center mb-3">
        <div class="flex flex-col w-3">
          <label for="dataHoraExtra" class="w-full">Data Início</label>
          <input
            id="dataHoraExtra"
            type="date"
            class="w-full mt-1 cursor-pointer"
            formControlName="dataHoraExtra"
          />
        </div>

        <!-- OBSERVAÇÃO -->
        <div class="flex flex-col w-9">
          <label for="motivoDescricao" class="w-full">Observação</label>
          <input
            pInputText
            id="observacao"
            class="w-full mt-1"
            type="text"
            formControlName="observacao"
            aria-describedby="Observação"
          />
        </div>
      </div>

      <!-- ##################################################################################### -->

      <div class="flex flex-col-12 gap-4 align-items-center mb-3">
        <!-- CÓDIGO FUNCIONÁRIO -->
        <div class="flex flex-col w-4">
          <label for="funcionarioCodigo" class="w-full">Cód. funcionário</label>
          <input
            pInputText
            id="funcionarioCodigo"
            class="w-full mt-1"
            type="number"
            formControlName="funcionarioCodigo"
            aria-describedby="Cód. Funcionário"
            (input)="buscaValorCampo($event)"
            (blur)="buscaFuncionario()"
          />
        </div>

        <!-- COD FUNCIONARIO / NOME FUNCIONARIO -->
        <div class="flex flex-row w-12">
          <!-- BUSCA FUNCIONARIO -->
          <button
            type="button"
            value="Evento"
            class="flex flex-col items-center justify-center w-2 mt-3 mr-0 cursor-pointer"
            (click)="buscaNomeFuncionario()"
            pTooltip="Buscar funcionário"
            tooltipPosition="top"
          >
            <i class="fas fa-search"> </i>
          </button>

          <!-- NOME FUNCIONARIO -->
          <div class="flex flex-col w-11 ml-0">
            <label for="funcionarioNome" class="w-full">Nome funcionário</label>
            <input
              pInputText
              id="funcionarioNome"
              class="w-full mt-1"
              type="text"
              formControlName="funcionarioNome"
              aria-describedby="Nome Funcionário"
              readonly
            />
          </div>
        </div>
      </div>

      <!-- ##################################################################################### -->
    </form>
  </ng-template>

  <!-- Botões salvar, cancelar e salvar continuar -->
  <ng-template pTemplate="footer">
    <!-- Salvar e continuar -->
    <p-button
      title="Salvar e continuar"
      label="Salvar e continuar"
      pButton
      pRipple
      (click)="salvarContinuar()"
      pTooltip="Salvar e continuar"
      class="p-button-success"
      icon="pi pi-arrow-right"
      [loading]="saving"
      [disabled]="!form.valid"
    ></p-button>

    <!-- Salvar -->
    <p-button
      title="Salvar"
      label="Salvar"
      pButton
      pRipple
      (click)="salvar()"
      (onClick)="gravarContinuar = false"
      pTooltip="Salvar"
      class="p-button-success"
      icon="pi pi-save"
      [loading]="saving"
      [disabled]="!form.valid"
    ></p-button>

    <!-- Cancelar -->
    <p-button
      title="Fechar"
      label="Sair"
      pButton
      pRipple
      (click)="fecharDialog()"
      pTooltip="Sair"
      class="p-button-secondary"
      icon="pi pi-arrow-right"
    ></p-button>
  </ng-template>
</p-dialog>

<!-- ######################################### -->

<p-dialog
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  header="Aprovadores"
  [modal]="true"
  [(visible)]="aprovadoresDialogVisible"
  class="max-w-sm text-center"
>
  <p-table [value]="aprovadorNomes" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-nome>
      <tr>
        <td class="text-align: center">{{ nome }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<!-- ############################################################## -->

<app-lov-funcionario-solicitante-he
  [(modalSolicita)]="lovSolicitacaoVisible"
  (selecionouEvento)="selecionouEventoHe($event)"
></app-lov-funcionario-solicitante-he>
