
.table-nomes{
    margin-left: 5px;
}

// .col-nome { width: 20%; }
// .col-departamento { width: 15%; }
// .col-descricao { width: 25%; }
// .col-solicitante { width: 15%; }
// .col-data { width: 15%; }
// .col-horas { width: 10%; }

