.direitos-reservados {
    position: absolute;
    bottom: 0;                /* Alinha ao rodapé */
    left: 50%;                /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para o centro exato */
    margin-bottom: 8px;
}

