  <div class="grid grid-cols-2 gap-1 md:grid-cols-6 mt-1" >
    <div class="card-container">
      <a class="card card-allocation" [style]="mapStyle.get('Itajobi')">
        <div class="flex flex-column">
          <img (click)="selecionarUnidade('Itajobi')" title="Usina Itajobi"
            src="/assets/layout/img/logo/UsinaItajobi.png" width="90px;" />
        </div>
      </a>
    </div>

    <div class="card-container">
      <a class="card card-allocation" [style]="mapStyle.get('Carolo')">
        <div class="flex flex-column">
          <img (click)="selecionarUnidade('Carolo')" title="Carolo" src="/assets/layout/img/logo/UsinaCarolo.png"
            width="100px;" />
        </div>
      </a>
    </div>

    <div class="card-container">
      <a class="card card-allocation" [style]="mapStyle.get('Centroalcool')">
        <div class="flex flex-column">
          <img (click)="selecionarUnidade('Centroalcool')" title="Centroalcool"
            src="/assets/layout/img/logo/UsinaCentroAlcool.jpeg" width="120px;" />
        </div>
      </a>
    </div>


    <div class="card-container">
      <a class="card card-allocation" [style]="mapStyle.get('VO-Cat')">
        <div class="flex flex-column">
          <img (click)="selecionarUnidade('VO-Cat')" title="VO-Catanduva" src="/assets/layout/img/logo/VO-CAT.png"
            width="120px;" />
        </div>
      </a>
    </div>

    <div class="card-container">
      <a class="card card-allocation" [style]="mapStyle.get('Furlan')">
        <div class="flex flex-column">
          <img (click)="selecionarUnidade('Furlan')" title="Furlan" src="/assets/layout/img/logo/UsinaFurlan.png"
            width="70px;" />
        </div>
      </a>
    </div>

    <div class="card-container">
      <a class="card card-allocation" [style]="mapStyle.get('RioPardo')">
        <div class="flex flex-column">
          <img (click)="selecionarUnidade('RioPardo')" title="Rio Pardo"
            src="/assets/layout/img/logo/UsinaRioPardo.png" width="70px;" />
        </div>
      </a>
    </div>

  </div>

