<div class="pt-1">
  <div class="containerCabec1" style="min-height: 5rem">
    <div class="flex justify-center">
      <app-button-card
        [options]="optionsButtonCard"
        [blockedDocument]="blockedDocument"
        [loading]="loading"
        [selected]="false"
        (clickButtonCard)="clickButtonCard($event)"
      ></app-button-card>
    </div>
  </div>

  <p-table
    [value]="solicitacoes"
    [tableStyle]="{ 'min-width': '50rem' }"
    selectionMode="multiple"
    [paginator]="true"
    [rows]="20"
    [selectionPageOnly]="true"
    [(selection)]="solicitacoesSelecionadas"
    dataKey="id"
  >
    <ng-template pTemplate="header">
      <tr>
        <!-- CHECK BOX -->
        <th class="text-center" rowspan="2" style="width: 2rem">
          <p-tableHeaderCheckbox />
        </th>

        <!-- STATUS -->
        <th rowspan="2" class="w-10rem">
          Status
          <p-columnFilter
            matchMode="contains"
            field="status"
            placeholder="Search"
          />
        </th>

        <!-- GEF -->
        <th style="width: 8rem" colspan="2" rowspan="2">
          G.E.F
          <p-columnFilter
            matchMode="contains"
            field="funcionarioCodigo"
            placeholder="Search"
          />
        </th>

        <th colspan="2" class="text-center">Funcionário</th>
        <th colspan="2" class="text-center">Data</th>
        <th colspan="2" class="text-center">Motivo</th>
        <th colspan="2" class="text-center">Solicitação</th>
        <th colspan="2" class="text-center">Departamento</th>

        <th rowspan="2" class="text-center">Observação</th>
      </tr>

      <tr>
        <th style="width: 8rem">
          Código
          <p-columnFilter
            matchMode="contains"
            field="funcionarioCodigo"
            placeholder="Search"
          />
        </th>
        <th style="width: 15rem">
          Nome
          <p-columnFilter
            matchMode="contains"
            field="funcionarioNome"
            placeholder="Search"
          />
        </th>

        <th class="text-center">Dia</th>
        <th class="text-center">Tempo</th>
        <th class="text-center">Code</th>
        <th class="text-center">Descrição</th>
        <th class="text-center">Solicitante</th>
        <th class="text-center">Dia</th>

        <th class="text-center">Code</th>
        <th>Descrição</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-solicitacao let-rowIndex="rowIndex">
      <tr [pSelectableRow]="solicitacao">
        <td>
          <p-tableCheckbox
            style="width: 8px"
            [value]="solicitacao"
            (click)="$event.stopPropagation()"
          />
        </td>

        <!-- Status -->
        <td class="text-center">
          <!-- <i class="pi pi-check" style="color: green"></i> -->
          {{ "Aguardando aprovação..." }}
        </td>

        <td class="text-center">
          {{ rowIndex + 1 }} {{ solicitacao.aguardandoAprovacao }}
        </td>
        <td class="text-center">{{ solicitacao.gef }}</td>
        <td class="text-center">{{ solicitacao.funcionarioCodigo }}</td>
        <td>{{ solicitacao.funcionarioNome }}</td>

        <td class="text-center">{{ solicitacao.dia | date : "dd/MM/yyyy" }}</td>
        <td class="text-center">{{ minutosEmHoras(solicitacao.minutos) }}</td>

        <td class="text-center">{{ solicitacao.motivoCodigo }}</td>
        <td>{{ solicitacao.motivoDescricao }}</td>

        <td>{{ solicitacao.solicitadoPor }}</td>
        <td class="text-center">
          {{ solicitacao.solicitadoEm | date : "dd/MM/yyyy HH:mm:ss" }}
        </td>

        <td class="text-center">{{ solicitacao.departamentoCodigo }}</td>
        <td>{{ solicitacao.departamentoDescricao }}</td>

        <td>{{ solicitacao.observacao }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
